* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Courier New", sans-serif;
}

#table {
    width: 60%;
    height: auto;
    border: 1px solid black;
    padding: 4%;

    text-align: center;
}

.table_header,
.table_item {
    display: flex;
}

.table_item p,
.table_header h3 {
    width: 50%;
}

#pop_up {
    position: absolute;
    bottom: 8%;
    right: 5%;

    display: none;
    opacity: 0;

    background-color: violet;
    border: 4px solid yellow;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2%;

    transition: display 0.5s, opacity 0.5s;
}

.show {
    display: auto !important;
    opacity: 1 !important;
}

#ok {
    margin: 0;
    font-size: 2em;
}

#ok:hover {
    cursor: pointer;
}
